body {
    margin: 0;
}

#item-1 {
    background-color: red;
    height: 100px;
    width: 100px;
    padding: 25px 40px;

    border-width: 10px;
    border-color: black;
    border-style: solid;

    margin-top: 10px;
    margin-right: 20px; 
    margin-bottom: 30px;
    margin-left: 40px;
}

#item-2 {
    background-color: blue;
    height: 100px;
    width: 100px;
    padding: 25px;

    border-width: 10px;
    border-color: black;
    border-style: solid;

    box-sizing: border-box;
}
